body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-top: 70px;
}

.logo-NavBar {
  width: 75px;
  height: 50px;
}

.links {
  margin-left: 10vw;
}

.borde-Navbar {
  border-left: 1px solid black;
}

.olvidaste-pass {
  color: #c18802;
}

/* Ayuda & Soporte */

.contenedor-soporte {
  position: relative;
  background-color: #e9f0ff;
  border-radius: 16px;
  text-align: center;
  padding: 4rem 2rem 2rem;
  max-width: 400px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}
.icono-comilla {
  width: 70px;
  height: 70px;
  background-color: #f0f4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.5rem;
  color: #3b5bdb;
  line-height: 1;
  user-select: none;
}
.texto-cita {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
  line-height: 1.5;
}

.bg-home {
  background-image: url("./assets/img/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 500px;
}
.bg-comotruekear {
  background-image: url("./assets/img/ayudaysoporte.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 400px;
}
.bg-ayudaysoporte {
  background-image: url("./assets/img/soporte.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 400px;
}
.bg-ayuda-fondo {
  background-color: #e0eefd;
}
.bg-truekear-fondo {
  background-color: #e1eaf6;
}
.bg-home-fondo {
  background-color: #77a7e9;
}

.no-hover:active {
  border-color: transparent !important;
}

@media (min-width: 768px) {
  .contenedor-soporte {
    max-width: 500px;
    padding: 5rem 3rem 2.5rem;
  }

  .texto-cita {
    font-size: 1.25rem;
  }
}

/* HOME */

.containerHome {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 40px 20px;
  max-width: 1500px;
  margin: 0 auto;
}
.textoRating {
  padding: 0px 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.containerHome2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 40px 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.bg-carousel {
  background-color: #ffdcc2;
  margin-bottom: 100px;
}

.carousel-item h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333;
}
.categoriasHomeCarusel:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

@media (max-width: 1200px) {
  .containerHome {
    grid-template-columns: repeat(2, 1fr);
  }
  .containerHome2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .containerHome,
  .containerHome2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
